.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6.15vh;
    margin : 6.15vh 13.08vh  ;
}
.services-title{
    display: flex;
    position: relative;
    align-items: center;
    gap: 0.77vh;

}
.services-title h1{
    padding: 0px 2.31vh;
    font-size: clamp(2rem, 5vw, 6.15vh);
    gap : 1.54vh;
    font-weight: 600;
}
.services button.arrow-btn {
    font-size: clamp(1.5rem, 4vw, 3.69vh);
    padding: 0.77vh 1.15vh;
    margin-left: 1.54vh;
    border: none;
    background-color: transparent;
    color: #b415ff;
    cursor: pointer;
    transition: 0.3s;
}
.services button.arrow-btn:hover {
    transform: scale(1.1);
    transition: 0.5s;
    filter: brightness(1.5) saturate(1.2);
}
.services-title img{
    height: 7.69vh;
    width: 7.69vh;
    position: absolute;
    bottom: 3.08vh;
    right: 6.15vh;
    z-index: -1;
    
}
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4.62vh;
    border-radius: 0.77vh;
    gap: 1.54vh;
    border: 0.15vh solid white;
    transition: 0.4s;
    cursor: pointer;
}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.08vh;
    margin-bottom: 6.15vh ;
}
.service h2{
    font-size: clamp(1.5rem, 3.5vw, 3.08vh);
    font-weight: 600;
    background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service p{
    font-size: clamp(1.2rem, 2.5vw, 1.85vh);
    font-weight: 500;
    text-align: center;
    color: #d4d4d4;
    line-height: 3.08vh;
   
}
.service:hover{
    transform: scale(1.05);
    
    border: 0.15vh solid #ff00ff ;
    background: linear-gradient(45deg,#3f0028,#582300);
    transition: 0.4s;
}
@media (max-width: 768px) {
    .services{
        align-items: start;
        gap: 5.38vh;
        margin: 1.54vh 5.38vh;
    }
    .services-title h1{
        padding: 0px 0px ;
        font-size: clamp(1.5rem, 4vw, 3.85vh);
    }
    .services-title img{
        width: auto;
        margin-right: -20px;
    }
    .services-container{
        grid-template-columns: 1fr 1fr;
        gap: 2.31vh;
    }
    .service{
        gap: 1.54vh;
        padding: 2.46vh;
    }
    .service h2{
        font-size: clamp(1.2rem, 3vw, 2.15vh);
    }
    .service p{
        font-size: clamp(1rem, 2vw, 1.38vh);
        line-height: 2.46vh;
        max-width: 23.08vh;
    }
    

}