.gliding-window{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 60px 0px;
    width: 100%;
    overflow: hidden;
}
.gliding-track{
    display: flex;
    width: max-content;
    animation: glide 20s linear infinite;
    transition: 0.5s ease;
    flex-direction: row;
}
.gliding-track img{
    width: 20%;
    height: 60vh;
  
    
    border-radius: 10px;
    object-fit: cover;

}
@keyframes glide{
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30%);
  }
}