.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6.15vh;
    margin: 6.15vh 13.08vh;
}

.about-title {
    display: flex;
    position: relative;
    align-items: center;
    gap: 0.77vh;
   
}

.about-title h1 {
    padding: 0px 2.31vh;
    font-size: clamp(2rem, 5vw, 6.15vh);
    gap: 1.54vh;
    font-weight: 600;
}

.about-title button.arrow-btn {
    padding: 0;
    line-height: 1;
    display: flex;
    font-size: clamp(1.5rem, 4vw, 3.69vh);
    padding: 0.77vh 1.15vh;
    margin-left: 1.54vh;
    border: none;
    background-color: transparent;
    color: #b415ff;
    cursor: pointer;
    transition: 0.3s;
    transition: filter 0.3s ease, transform 0.2s ease;
}
.about-title button.arrow-btn:hover {
    transform: scale(1.1);
    transition: 0.5s;
    filter: brightness(1.5) saturate(1.2);

}

.about-title img {
    height: 7.69vh;
    width: 7.69vh;
    position: relative;
    bottom: 3.08vh;
    right: 13.85vh;
    background-color: transparent;
    z-index: -1;

}

.about-sections {
    display: flex;
    gap: 6.15vh;

}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 6.15vh;
}

.about-left img {
    width: 38.46vh;
    height: 38.46vh;
    box-shadow: 0px 0px 1.54vh rgba(168, 179, 236, 0.2);
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 1.54vh;
    font-size: clamp(1.2rem, 2.5vw, 1.85vh);
    font-weight: 500;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 1.54vh;
}

.about-skill {
    display: flex;
    align-items: center;
    gap: 1.54vh;
    transition: 0.3s
}

.about-skill p {
    min-width: 11.54vh;
    font-size: clamp(1.2rem, 2.5vw, 1.85vh);
    font-weight: 500;
}

.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 0.62vh;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
}

.about-achievements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 6.15vh;
}

.about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.54vh;
    transition: 0.5s;
}

.about-achievement h1 {
    font-size: clamp(1.8rem, 4vw, 4.62vh);
    font-weight: 600;
    background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-achievement p {
    font-size: clamp(1.2rem, 2.5vw, 1.85vh);
    font-weight: 500;
}

.about-skill:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.about-achievement:hover {
    transform: scale(1.12);
}

@media (max-width: 768px) {
    .about {
        gap: 3.08vh;
        margin: 3.85vh 5.38vh;
        align-items: start;
    }

    .about-title h1 {
        font-size: clamp(1.5rem, 4vw, 3.85vh);
        display: flex;
        align-items: center;
        padding: 1.54vh 0px;
    }
    .arrow-button {
        font-size: clamp(1.2rem, 3vw, 2.77vh);
        padding: 0.38vh 0.77vh;
        margin-left: 0.77vh;
    }

    .about-title img {
        width: auto;
        margin-right: -30px;
    }

    .about-sections {
        flex-direction: column;
    }

    .about-left {
        display: none;

    }

    .about-para {
        font-size: clamp(1rem, 2vw, 1.38vh);
        line-height: 2.46vh;
    }

    .about-skills {
        display: flex;
        flex-direction: column;
        gap: 1.54vh;
        transition: 0.3s;

    }

    .about-skill hr {
        outline: none;
        border: none;
        width: 50%;
        height: 0.62vh;
        border-radius: 50px;
        background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
    }

    .about-skill p {
        font-size: clamp(1rem, 2.2vw, 1.54vh);

    }

    .about-skill hr {
        height: 6px;

    }

    .about-achievements {
        justify-content: space-between;

    }

    .about-achievement {
        gap: 20px;
    }

    .about-achievement h1 {
        font-size: clamp(1.2rem, 3.5vw, 2.62vh);
        font-weight: 700;
    }

    .about-achievement p {
        text-align: center;
        font-size: clamp(0.9rem, 1.8vw, 1.23vh);
    }
}